
  body {
    font-family: "Josefin Sans",
  }

@media (min-width: 769px) {
    .headercontainer {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        justify-items:legacy;
         /* Adjust as needed */
    }

    .hero-img img{
        width: 5vw;
        height: auto;
        grid-column: 1;
      }

      .second-icons{
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
      }
    
    
    .navigation {
        display: grid;
        grid-column: 2;
        grid-auto-flow: column;
        justify-content: center;
        font-size: 1.5vw;
        align-items: center;
    }
    
    .navigation a {
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 4px;
        
        transition: background-color 0.3s ease, color 0.3s ease;
        text-align: center;
    }
    

    .navigation img{
        width: 4vw;
        height: auto;
    }
    
    .first-icons{
        display: none;
    }
    
    .navigation a:hover {
        background-color: var(--amber-yellow);
        color: var(--white);
        padding: 1vw;
    }
    
    .search-container {
        display: flex;
        align-items: center;
        border-radius: 50px;
        background-color: var(--white);
        width: 100%; /* Consistent width */
        height: 35px; /* Consistent height */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 0%;
    }

    header{
        padding: 0px;
    }
    
    .search-container input {
        border: none;
        border-radius: 25px 0 0 25px;
        font-size: 1rem; /* Adjusted font size for better readability */
        outline: none;
        padding-left: 15px; /* Consistent padding */
    }
    
    .search-container button {
        background-color: var(--lemon-yellow); /* Auburn */
        border: none;
        padding: 10px 15px;
        border-radius: 0 25px 25px 0;
        height: 37px; /* Consistent height */
        width: 51px; /* Consistent width */
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    
    .search-container button img {
        width: 20px;
        height: 20px;
    }
    
    .search-container button:hover {
        background-color: var(--amber-yellow); /* Falu Red */
    }
    #menu{
      display: none;
    }

.image-container img{
width: 100%;
height: auto;
}

.shop-now-btn {
    padding: 24px 48px; /* Larger padding */
    font-size: 1.2rem; /* Larger font size */
}

.shop-button {
    display: flex;
    justify-content: left;
    align-items: center;
     /* Full viewport height */
  }

  .shop-button a{
    color: var(--white);
  }
  
  /* Button styles */
  .shop-now-btn {
    display: inline-block;
    position: relative;
    bottom: 150px;
    left:2vw;
    padding: 20px 40px;
    background-color: var(--amber-yellow);
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid var(--amber-yellow);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .shop-now-btn:hover {
    background-color: var(--lemon-yellow);
    color: var(--white);
    border-color: var(--lemon-yellow);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .shop-now-btn:active {
    background-color: var(--earthy-green);
    color: var(--white);
  }
  
  
  .howlearn-now-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--amber-yellow);
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--amber-yellow);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .howlearn-now-btn:hover {
    background-color: var(--lemon-yellow);
    color: var(--white);
    border-color: var(--lemon-yellow);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .howlearn-now-btn:active {
    background-color: var(--earthy-green);
    color: var(--white);
  }
  
  .how{
    background-color: var(--earthy-green);
    padding-top: 1vw;
    padding-bottom: 2vw;
    color: var(--white);
    position: relative;
    bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .how p{
    margin-left: 3vw;
    margin-right: 3vw;
  }
  
  .howbold{
    font-weight: bold; 
    font-size: xx-large; 
  }            

   
.herocha h2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 2px rgb(27, 27, 27);

}

.herocha p{
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  top: 500px;

}

}



