:root {
  --earthy-green: #17a638;
  --lemon-yellow: #234774;
  --amber-yellow: #1155cc;
  --white: #ffffff;
  --whitetrans: #8a8a8a;
  --black: #000000;
  --black-variant: #1c1c1c;

  --heading-font: "Outfit", serif;
  --paragraph-font: "Poppins", sans-serif;
  --body-font: "Josefin Sans", serif;
}

body {
  font-family: "Josefin Sans";
}


@media (min-width: 769px) {
  .headercontainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: legacy;
    /* Adjust as needed */
  }

  .hero-img img {
    width: 5vw;
    height: auto;
    grid-column: 1;
  }

  .second-icons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
  }

  .navigation {
    display: grid;
    grid-column: 2;
    grid-auto-flow: column;
    justify-content: center;
    font-size: 1.5vw;
    align-items: center;
  }

  .navigation a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 4px;

    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
  }

  .navigation img {
    width: 4vw;
    height: auto;
  }

  .first-icons {
    display: none;
  }

  .navigation a:hover {
    background-color: var(--amber-yellow);
    color: var(--white);
    padding: 1vw;
  }

  input[type="text"]::placeholder {
    font-size: 1rem;
    text-align: center;
    align-self: center;
    opacity: 1;
    line-height: 0;
  }

  .search-container input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    color: #888;
  }

  .search-container .search-icon {
    font-size: 20px;
    color: #000;
  }

  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    
    max-width: 500px;
    background-color: var(--white);
  }

  header {
    padding: 0px;
  }
  .search-container {
    display: flex;
    align-items: center;
  }

  .search-container input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }

  .search-container button { /* Auburn */
    border: none;
    background-color: transparent;
    
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 3vw; /* Consistent height */
    width: 5vw; /* Consistent width */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .search-container button img {
    width: 20px;
    height: 20px;
  }

  #menu {
    display: none;
  }

  .image-container img {
    width: 100%;
    height: 110vh;
    position: relative;
    bottom: 8vw;
  }

  .shop-now-btn {
    padding: 24px 48px; /* Larger padding */
    font-size: 1.2rem; /* Larger font size */
    position: relative;
  }

  .shop-button {
    display: flex;
    justify-content: left;
    align-items: center;
    /* Full viewport height */
  }

  .shop-button a {
    color: var(--white);
    font-size: 1.5rem;
  }

  /* Button styles */
  .shop-now-btn {
    display: inline-block;
    position: relative;
    bottom: 33vh;
    z-index: 3;
    left: 2vw;
    padding: 20px 40px;
    background-color: var(--amber-yellow);
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--amber-yellow);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .shop-now-btn:hover {
    background-color: var(--lemon-yellow);
    color: var(--white);
    border-color: var(--lemon-yellow);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .shop-now-btn:active {
    background-color: var(--earthy-green);
    color: var(--white);
  }

  .howlearn-button a {
    font-size: 1rem;
  }

  .howlearn-now-btn {
    display: inline-block;
    padding: 1rem 2rem; /* Adjusts based on root font size */
    /* Scales with user settings */
    background-color: var(--amber-yellow);
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid var(--amber-yellow);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .howlearn-now-btn:hover {
    background-color: var(--lemon-yellow);
    color: var(--white);
    border-color: var(--lemon-yellow);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .howlearn-now-btn:active {
    background-color: var(--earthy-green);
    color: var(--white);
  }

  .how {
    background-color: var(--earthy-green);
    padding-top: 1vw;
    padding-bottom: 2vw;
    color: var(--white);
    position: relative;
    bottom: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .how p {
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 1.5rem;
  }

  .howbold {
    font-weight: bold;
    font-size: xx-large;
  }

  .how h2 {
    margin-bottom: 0%;
    font-size: 2rem;
  }

  .herocha h2 {
    color: var(--white);
    position: absolute;
    top: 55vh;
    font-size: 3rem;
    width: max-content;
    text-shadow: 2px 2px 2px rgb(27, 27, 27);
  }

  .herocha p {
    display: flex;
    align-items: flex-start;
    position: relative;
    text-align: center;

    top: 65vh;
    font-size: 2rem;
    color: var(--white);
    text-shadow: 2px 2px 2px rgb(27, 27, 27);
  }

  .herocha {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    left: 2vw;
    top: 10vh;
  }

  .container {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 13vw;
    z-index: 2;
    justify-content: space-evenly;
  }

  .cti img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

  .category {
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: 45vw;
    height: 20vw;
    display: flex;
    margin: 2vw;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    box-shadow: 0 0 30px gray;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out, background-color 0.6s ease-in-out;
  overflow: hidden;
  position: relative;
  animation: fadeInScale 0.5s ease forwards;
  opacity: 100; /* Start hidden */
  margin: 20px; /* Add some margin for spacing */
  transition: background-color 0.5s ease; /* Optional background color transition */
  }

  .category p {
    font-size: 3rem;
    position: relative;
    z-index: 2;
    bottom: 30px;
  }

  .category h2 {
    font-size: 3rem;
    margin: 0;
    position: relative;
    margin-top: 20px;
    text-align: left;
    
  }

  .category:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    transition: left 0.6s ease-in-out;
  }
  
  .category:hover::before {
    left: 100%;
  }
  
  .category h2 {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    text-align: left;
    transition: color 0.6s ease-in-out;
  }
  
  .category:hover h2 {
    color: #ffcc00; /* Change to your preferred hover color */
  }

  .container {
    display: flex;
    gap: 20px;
}

.category {
    position: relative;
    padding: 20px;
    width: 45vw;
    height: 20vw;
    overflow: hidden;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Keeps <h2> at top and <a> at bottom */
    align-items: flex-start;
}

.category-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.category img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.category h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    align-self: flex-start; /* Keeps h2 at the top */
}

.cta-button {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    z-index: 2;
    align-self: flex-start; /* Keeps button at the bottom */
}

.cta-button:hover {
    text-decoration: underline;
}
  

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: left;
    background-color: var(--black);
  }
  .footer div {
    margin: 10px;
  }
  .footer h3 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #b3b3b3;
  }
  .footer a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: flex-start;
    margin-left: 6vw;
  }
  .social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
  }

  .social-icons img {
    width: 5vw;
    height: 15vw;
  }
  .footer p {
    text-align: center;
    font-size: 12px;
    color: #b3b3b3;
    margin-top: 20px;
  }

  footer {
    margin-top: 10vw;
    background-color: var(--black);
    padding-bottom: 2vw;
  }

  .follow {
    color: var(--white);
    margin-left: 10vw;
  }
  footer p {
    color: var(--white);
    font-size: 14px;

    text-align: center;
  }

  .mission {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    
    background-color: var(--earthy-green);
}
  .mission-two {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    
    background-color: var(--earthy-green);
}

.mission-text {
    max-width: 100%;
    padding: 2vw;
    display: block;
    position: relative;
    width: 50%;
    background-color: #000;
}
.mission-two-text {
    max-width: 100%;
    padding: 2vw;
    display: block;
    position: relative;
    width: 50%;
    background-color: #000;
}

.mission-text h1 {
    font-size: 70px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 20px;
}
.mission-two-text h1 {
    font-size: 70px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 20px;
}

.mission-text p {
    font-size: 1.3rem;
    color: var(--white);
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 400;
}
.mission-two-text p {
    font-size: 1.3rem;
    color: var(--white);
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 400;
}

.learn-more {
    padding: 12px 25px;
    font-size: 16px;
   
    background-color: var(--amber-yellow);
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.learn-more:hover {
    background-color: var(--lemon-yellow);
    font-weight: bold;
}

.mission-image img {
    
    width: 100%;
    height: 100%;
    transform: scale(1);
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    width: 100%;
    z-index: 1;
    
}
.mission-two-image img {
    
    width: 100%;
    height: 100%;
    transform: scale(1);
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    width: 100%;
    z-index: 1;
    
}

.mission-image{
  overflow: hidden;
}
.mission-two-image{
  overflow: hidden;
}

#farming-services{
  position: relative;
  bottom: 20px;
  margin-bottom: -59px;
}

#farming-services h2{
  text-align: center;
  font-size: 24px;
  
  color: var(--white);
  background-color: var(--earthy-green);
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.service-card h3{
  z-index: 2;
  position: relative;
  color: var(--white);
  text-align: center;
}

#farming-services h3{
  z-index: 2;
  position: relative;
  text-align: center;
}

.handbut{
  position: relative;
  bottom: 115px;
  z-index: 2;
  text-align: center;
  background-color: #0000005b;
  padding: 1vw;
  padding-bottom: 0.1vw;
}

.service-card {
  flex: 0 0 auto; /* Prevent shrinking */
  width: 300px;
  height: 300px; /* Fixed width for cards */
  scroll-snap-align: start; /* Align each card when scrolling */
  background-color: var(--black-variant);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 30px;
}

.service-card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.review-card {
  flex: 0 0 calc(100% / 3); /* Show 3 cards at a time */
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

/* Scrollbar Styling */
.carousel-container::-webkit-scrollbar {
  height: 8px!important; /* Height of the scrollbar */
}

.carousel-container::-webkit-scrollbar-track {
  background: #f1f1f1!important; /* Track color */
  border-radius: 5px!important;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #888!important; /* Thumb color */
  border-radius: 5px!important;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
  background: #555!important; /* Thumb color on hover */
}


.feature img {
  /* Responsive image */
 width: 8vw;
 height: 10vw; /* Maintain aspect ratio */
}

.featured-post img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  
  animation:  .5s cubic-bezier(.29,.65,.58,1) forwards
}

.latest-posts img {
  width: 120px;
  height: 100px;
  margin-right: 10px;
}

.subscribe-section {
  background-color: var(--earthy-green); /* Light background color */
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--white);
  position: relative;
  bottom: -110px;
 /* Centering the section */
}

.form-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5); /* Modal background */
  display: none; /* Initially hidden */
}

.form-section {
  flex: 1;
  background-color: var(--black);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 40px;
  align-items: self-start;
  padding-bottom: 40px;
}

.form-section h1 {
  font-size: 1.8rem;
  color: var(--white);
  margin-bottom: 10px;
  text-align: center;
}

.form-section h2 {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.form-section p {
  font-size: 0.9rem;
  color: var(--white);
  margin-bottom: 20px;
  text-align: center;
}

.form-section form {
  width: 100%;
  max-width: 300px;
}

.form-section input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-section button {
  width: 107%;
  padding: 10px;
  background-color: var(--amber-yellow);
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #3e5035;
}

.image-section {
  flex: 1;
  position: absolute;
  z-index: 98;
  width: 50%;
  right: -0px;
  top: 138px;
  box-sizing: border-box;
  
  overflow: hidden !important;
}

.image-section img{
  object-fit: cover;
  height: 350px;
  overflow: hidden !important;
  width: 100%;
  bottom: 200px;
  z-index: 0;

}

.image-section .close-button {
  position: absolute;
  
  top: 10px;
  right: 10px;
  background-color: var(--amber-yellow);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.image-section .close-button:hover {
  background-color: #f4f4f4;
}

.image-section .close-button span {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 4px;
  color: var(--white);}


}