.josefin-sans {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --earthy-green: #17A638;
  --lemon-yellow: #2F4055;
  --amber-yellow: #1155CC;
  --white: #ffffff;
  --whitetrans: #ffffffd8;
  --black: #000000;
  --black-variant: #1c1c1c;

  --heading-font: "Outfit", serif;
  --paragraph-font: "Poppins", sans-serif;
  --body-font: "Josefin Sans", serif;
}

body{
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}


.search-container input::placeholder {
  color: #999;
  text-align: center;
  font-size: 1rem;
}


header{
  background-color: var(--black);
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 98%;
  z-index: 1;
}


@media (max-width: 793px) {
  .navigation {
    display: none; /* Hide navigation by default */
    flex-direction: column;
    padding: 3vw; /* Stack items vertically */
    background-color: var(--black); /* Background color for the menu */
    position: absolute; /* Position it absolutely */
    /* Adjust based on your layout */
    right: 0; /* Align to the right */ /* Set a width for the menu */
    z-index: 1000; /* Ensure it appears above other content */
  }

  .section {
    padding: 16px;
    padding-right: 0px;
    margin-top: 2vw;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping for smooth horizontal scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to individual cards */
    gap: 16px; /* Space between cards */
    padding: 10px;
    -webkit-overflow-scrolling: touch;/* Smooth scrolling for iOS */
  }

  .aboutcard-wrapper {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping for smooth horizontal scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to individual cards */
    gap: 16px; /* Space between cards */
    padding: 10px;
    -webkit-overflow-scrolling: touch;
    justify-content: center;/* Smooth scrolling for iOS */
  }

  .card-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for better aesthetics */
  }

  .card {
    flex: 0 0 calc(50% - 16px); /* Two cards per view */
    scroll-snap-align: start; /* Align each card when scrolling */
    background-color: var(--black-variant);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .aboutcard {
    flex: 0 0 calc(50% - 16px); /* Two cards per view */
    scroll-snap-align: start; /* Align each card when scrolling */
    background-color: var(--black-variant);

    transition: transform 0.2s ease-in-out;
  
  }

  .card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }

  .card h3 {
    margin: 0 0 8px;
    color: var(--amber-yellow);
  }

  .aboutcard h3 {
    margin: 0 0 8px;
    color: var(--amber-yellow);
  }

  .card p {
    color: var(--white);
  }

  .aboutcard p {
    color: var(--white);
  }

  .navigation.open {
    display: flex;
    position: relative;
    flex-direction: column;
     /* Show the navigation when open */
  }

  .navigation.open img{
    
      width: 4vw;
      height: auto;
  }

  .second-icons{
    display: none;
  }
  }

  .navigation a {
    color: white; /* Link color */
    padding: 10px; /* Padding for links */
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    transition: background 0.3s; /* Smooth background transition */
  }

  .navigation a:hover {
    background-color: #555; /* Change background on hover */
  }

  /* Hamburger button styles */
  #menu {
    background: none; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    position: relative;
    float: right;
    right: 4px;
    margin: auto;/* Position relative for the icon */
  }

  .hamburger-icon {
    display: block;
    width: 10vw; /* Width of the hamburger icon */
    height: 1vw; /* Height of the hamburger lines */
    background-color: var(--white); /* Color of the hamburger lines */
    position: relative;
    z-index: 1; /* Position relative for stacking */
  }


  /* Create three lines for the hamburger icon */
  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    /* Create pseudo-elements */
    width: 10vw; /* Same width as the main line */
    height: 1vw; /* Same height as the main line */
    background-color: white; /* Color of the lines */
    position: absolute; /* Position absolute for stacking */
    left: 0; /* Align to the left */
    transition: all 0.3s;
    margin-bottom: 10px;
    /* Smooth transition */
  }

  .hamburger-icon::before {
    top: -10px; /* Position above the main line */
  }

  .hamburger-icon::after {
    top: 10px; /* Position below the main line */
  }

  /* Change the hamburger icon to an 'X' when open */
  #menu.open .hamburger-icon {
    background-color: transparent; /* Hide the main line */
  }

  #menu.open .hamburger-icon::before {
    transform: rotate(45deg); /* Rotate the top line */
    top: 0; /* Align to the center */
  }

  #menu.open .hamburger-icon::after {
    transform: rotate(-45deg); /* Rotate the bottom line */
    top: 0; /* Align to the center */
  }


.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%; /* Adjusted width */
    height: 35px; /* Consistent height */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius:25px;
}

.search-container input {
    border: none;
    border-radius: 25px 0 0 25px;
    font-size: 1.2rem; /* Adjusted font size for better readability */
    outline: none;
    height: 30px; /* Consistent height */
    padding-left: 10px; /* Added padding for better UX */
}

.search-container button {
    background-color: var(--lemon-yellow); /* Auburn */
    border: none;
    padding: 10px 15px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px; /* Consistent height */
    margin-left: 35px; /* Removed absolute positioning */
}

  .search-container button img {
    font-size: large;
    width: 2vw;
    height: 4vw;
  } 

  .search-container button:hover {
    background-color: var(--amber-yellow); /* Falu Red */
  }

  input::placeholder{
    font-size: 20px;
    text-align: left;
    
  }

  .hero-img {
    width: 15vw;

    margin-left: 1vw;
    

  }



  .first-icons img{
    width: 10vw; /* Rounded for simplicity */
    height: 15vw;
  }

  .second-icons img{
    width: 10vw; /* Rounded for simplicity */
    height: 15vw;
  }

  .sign {
    padding: 1vw;
    border-radius: 5px;
    text-align: center;
    color: var(--black);
  }

  .sign a{
    text-decoration: none;
    color: var(--black);
  }

  .hero-img img{
    width: auto;
    height: auto;
    grid-column: 1;
  }

  .first-icons{
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    
  }

  .headercontainer{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-items:legacy;
    width: 100%;
  }

  .hero-img {
    grid-column: 1;
  }


  .sign a:hover {
    background-color: var(--amber-yellow); /* Falu Red */
    padding: 1vw;
    color: var(--black);
    font-weight: bold;
    
  }

  .sign:hover {
    background-color: var(--amber-yellow); /* Falu Red */
    padding: 1vw;
    
  }

  /* Center the button using flexbox */
.shop-button {
  display: flex;
  justify-content: center;
  align-items: center; /* Full viewport height */
}

/* Button styles */
.shop-now-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--amber-yellow);
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--amber-yellow);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.shop-now-btn:hover {
  background-color: var(--lemon-yellow);
  color: var(--white);
  border-color: var(--lemon-yellow);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shop-now-btn:active {
  background-color: var(--earthy-green);
  color: var(--white);
}


.howlearn-now-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--amber-yellow);
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--amber-yellow);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.howlearn-now-btn:hover {
  background-color: var(--lemon-yellow);
  color: var(--white);
  border-color: var(--lemon-yellow);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.howlearn-now-btn:active {
  background-color: var(--earthy-green);
  color: var(--white);
}

.how{
  background-color: var(--earthy-green);
  padding-top: 1vw;
  padding-bottom: 2vw;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.how p{
  margin-left: 3vw;
  margin-right: 3vw;
}

.howbold{
  font-weight: bold; 
  font-size: xx-large;
}



@media (min-width: 320px) and (max-width: 426px) {
  /* Basic styles for the navigation */
  .navigation {
    display: none; /* Hide navigation by default */
    flex-direction: column;
    padding: 2vw; /* Stack items vertically */
    background-color: var(--black); /* Background color for the menu */
    position: absolute; /* Position it absolutely */
    /* Adjust based on your layout */
    right: 0; /* Align to the right */
    width: 200px; /* Set a width for the menu */
    z-index: 1000; /* Ensure it appears above other content */
  } 

  .image-container img{
    width: 100%;
    height: auto;
  }

 

  .first-icons{
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    margin-right: 3vw;
  }

  .headercontainer{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-items:legacy;

    
  }

  .hero-img {
    grid-column: 1;
  }

  .navigation.open {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0; /* Show the navigation when open */
  }

  .navigation a {
    color: white; /* Link color */
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
    padding: 10px; /* Padding for links */
    text-decoration: none; /* Remove underline */
    transition: background 0.3s; /* Smooth background transition */
  }

  .navigation.open img{
    width: 10vw;
    height: auto;
}


  /* Hamburger button styles */
  #menu {
    background: none; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    position: relative;
    float: right;
    right: 4px;
    margin: auto;/* Position relative for the icon */
  }

  .hamburger-icon {
    display: block;
    width: 10vw; /* Width of the hamburger icon */
    height: 1vw; /* Height of the hamburger lines */
    background-color: var(--white); /* Color of the hamburger lines */
    position: relative;
    z-index: 1; /* Position relative for stacking */
  }

  /* Create three lines for the hamburger icon */
  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    /* Create pseudo-elements */
    width: 10vw; /* Same width as the main line */
    height: 1vw; /* Same height as the main line */
    background-color: white; /* Color of the lines */
    position: absolute; /* Position absolute for stacking */
    left: 0; /* Align to the left */
    transition: all 0.3s;
    margin-bottom: 10px;
    /* Smooth transition */
  }

  .hamburger-icon::before {
    top: -10px; /* Position above the main line */
  }

  .hamburger-icon::after {
    top: 10px; /* Position below the main line */
  }

  /* Change the hamburger icon to an 'X' when open */
  #menu.open .hamburger-icon {
    background-color: transparent; /* Hide the main line */
  }

  #menu.open .hamburger-icon::before {
    transform: rotate(45deg); /* Rotate the top line */
    top: 0; /* Align to the center */
  }

  #menu.open .hamburger-icon::after {
    transform: rotate(-45deg); /* Rotate the bottom line */
    top: 0; /* Align to the center */
  }

  .search-container {
    display: flex;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: white;
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-left: 10px;
}

.search-container button {
  background-color: var(--lemon-yellow); /* Auburn */
  border: none;
  padding: 10px 15px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  position: absolute;
  left: 120%;
  width: 51px;
  margin-left: 0px;
}

  .footer a {
    text-decoration: none;
    color: var(--amber-yellow);
    font-size: 14px;
  }

  footer p {
    display: block;
    margin: 10px 0 0;
    font-size: 12px;
    color: var(--goldenrod-yellow)
  }
  .search1{
    display: none;
  }
  .second-icons{
    display: none;
  }

  .shop-now-btn {
    padding: 4vw 10vw;
    font-size: 1rem;
    color: var(--white);
}

.shop-button {
  position: relative;/* Full viewport height */
}

.shop-now-btn {
  position: relative;
  bottom: 23.47vw; /* Move to the middle vertically */
  
}

.howlearn-now-btn {
  font-size: 1rem;
  color: var(--white);
}

.howlearn-button {
position: relative;/* Full viewport height */
}

.howlearn-now-btn {
position: relative;
 /* Move to the middle vertically */

}



.howbold p{
  font-weight: bold;  
  text-align: center;
}

.how{
  text-align: center;
  position: relative;
  bottom: 20vw;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 10vw;
}
.category {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 10px 0;
  width: 80vw;
  height: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  box-shadow: 0 0 30px gray;
  
}


.category h2 {
  font-size: 24px;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}
.shop-now {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shop-now i {
  margin-left: 5px;
}


/*Our Mission styling*/
.mission-container {
  text-align: center;
  
  
}
.mission-image-container {
  display: flex;
  justify-content: center;
  align-items: center
}
.mission-image-container img {
  width: 100%;
  height: auto;
}
.mission-container h2 {
  font-size: 30.1px;
  font-weight: bold;
  margin-top: 5vw;
  margin-bottom: 2vw;
}
.mission-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  
}
/*footer*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  text-align: left;
}
.footer div {
  margin: 10px;
}
.footer h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #b3b3b3;
}
.footer a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}
.footer a:hover {
  text-decoration: underline;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social-icons a {
  color: #ffffff;
  font-size: 24px;
  margin: 0 10px;
}
.footer p {
  text-align: center;
  font-size: 12px;
  color: #b3b3b3;
  margin-top: 20px;
}

}

@media (min-width: 426px) and (max-width:769px) {
  .hero-img img{
    width: 10vw;
    height: auto;
    grid-column: 1;
  }

  
.image-container img{
  width: 100%;
  height: auto;
  }

  .first-icons img{
    width: 8vw; /* Rounded for simplicity */
    height: 10vw;
  }

  .hamburger-icon {
    display: block;
    width: 8vw; /* Width of the hamburger icon */
    height: 1vw; /* Height of the hamburger lines */
    background-color: var(--white); /* Color of the hamburger lines */
    position: relative;
    z-index: 1; /* Position relative for stacking */
  }

  /* Create three lines for the hamburger icon */
  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    /* Create pseudo-elements */
    width: 8vw; /* Same width as the main line */
    height: 1vw; /* Same height as the main line */
    background-color: white; /* Color of the lines */
    position: absolute; /* Position absolute for stacking */
    left: 0; /* Align to the left */
    transition: all 0.3s;
    margin-bottom: 10px;
    /* Smooth transition */
  }

  .shop-now-btn {
    padding: 3vw 8vw;
    font-size: 1.5rem;
    color: var(--white);
}

.shop-button {
  position: relative;
  display: flex;
  justify-content: left;
  left: 2vw;
  /* Full viewport height */
}

.shop-now-btn {
  position: relative;
  bottom: 23.47vw; /* Move to the middle vertically */
  
}

.howlearn-now-btn {
  font-size: 1.2rem;
  color: var(--white);
}

.howlearn-button {
position: relative;/* Full viewport height */
}

.howlearn-now-btn {
position: relative;
 /* Move to the middle vertically */

}



.howbold p{
  font-weight: bold;  
  text-align: center;
}

.how{
  text-align: center;
  position: relative;
  bottom: 20vw;
}




}



.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  text-align: left;
  background-color: var(--black);
}
.footer div {
  margin: 10px;
}
.footer h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #b3b3b3;
}
.footer a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}
.footer a:hover {
  text-decoration: underline;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  justify-content: flex-start;
  margin-left: 6vw;
}
.social-icons a {
  color: #ffffff;
  font-size: 24px;
  margin: 0 10px;
}

.social-icons img{
  width: 10vw;
  height: 15vw;
}
.footer p {
  text-align: center;
  font-size: 12px;
  color: #b3b3b3;
  margin-top: 20px;
}

footer{
  margin-top: 10vw;
  background-color: var(--black);
  padding-bottom: 2vw;
}

.follow{
  color: var(--white);
  margin-left: 10vw;
}
footer p{
  color: var(--white);
  font-size: 14px;

  text-align: center;
}